*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.container{
    background-image: url('../../images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
 background-color: #622197c9;   
}