@media(max-width: 720px){
    .conteudo .mockups{
        max-width: 80%;
    }

    .informacoes .titulo{
        font-size: 24px;
    }
    .informacoes .texto{
        font-size: 13px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .informacoes .btn-registrar{
        font-size: 14px;
        padding: 10px 40px;
    }
}

@media(max-width:520px){
    .navegacao{
        width: 100%;
        height: 5vh;
        margin-top: 20px;
    }
    
    .navegacao .logo-texto{
        height: 35px;
        margin-left: 40px;
    }
    
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
        padding: 0 15px;
        gap: 30px;
    
    }
    .conteudo .mockups{
        max-width: 85%;
    }
    .informacoes{
        text-align: center;
    }
    
    .informacoes .titulo{
        font-size: 20px;
    }
    .informacoes .texto{
        font-size: 12px;
        margin-top: 14px;
        margin-bottom: 35px;
    }
    .informacoes .btn-registrar{
        font-size: 14px;
        padding: 12px 70px;
    }
    .posicao-formulario{
        padding: 0 10px;
    }
}
   