@media(max-width: 700px){
    body{
        background-color: #674bb0;
        
        background-repeat: no-repeat;
    }
    .container{
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        gap: 20px;
         background-image: url("../../images/bg-mobile.svg");;
        
    }
    
    .navegacao{
        height: 8%;
        margin-top: 30px;
    }
    
    .navegacao .logo-texto{
        height: 35px;
        margin-left: 30px;
    }
    
    .conteudo{
        display: flex;
        margin-top: 30px;
        padding: 0px 40px;
        flex-direction: column;
        align-items: center;
    }
    .conteudo .mockups{
        height: 260px;
        width: 360px;
    }
    .informacoes{
        margin-left: 0px;
        margin-top: 20px;
        color: #ffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 70px;
    }
    .informacoes .titulo{
        font-size: 28px;
        font-weight: 500;
        margin-top: 30px;
    }
    .informacoes .texto{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .informacoes .btn-registrar{
        
        padding: 12px 90px;
        
    }
}