@media(max-height: 600px){
    .container{
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        gap: 20px;
        
    }
    
    .navegacao{
        width: 100%;
        height: 8%;
        margin-top: 40px;
    }
    
    .navegacao .logo-texto{
        height: 60px;
        margin-left: 40px;
    }
    
    .conteudo{
        display: flex;
        margin-top: 40px;
        padding: 0px 40px;
    }
    .conteudo .mockups{
        height: 450px;
    }
    .informacoes{
        margin-left: 40px;
        color: #ffff;
        display: block;
    }
    .informacoes .titulo{
        font-size: 28px;
        font-weight: 500;
        margin-top: 30px;
    }
    .informacoes .texto{
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .informacoes .btn-registrar{
        font-size: 16px;
        color: rgba(137, 43, 226, 0.733);
        background-color: #ffff;
        border-radius: 20px;
        padding: 12px 50px;
        transition: 0.5s;
    }
}